<%# <h3>this is the answer page</h3> %>

<div class='container'>

  <div class="bd question m-3 p-2">
  <div class="">
      <%= @question %>
  </div>
  <div class="quote">
      -You
  </div>
  </div>

  <div class="bd answer m-3 p-2">
    <div class="coach-answer">
      <%= @answer %>
    </div>
    <div class="quote">
      -Your Coach
    </div>
</div>
</div>

<div class="p-3">
  <%= link_to "Ask a new question", ask_path %>
</div>
